In [145]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [146]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [147]:
df = pd.read_csv('SWaT_dataset_Jul_19_v2.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,74,75,76,77) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [148]:
df.head()

                    Unnamed: 0       P1  ...  Unnamed: 76  Unnamed: 77
0                       GMT +0  FIT 101  ...  P602 Status  P603 Status
1                    timestamp    value  ...        value        value
2         2019-07-20T04:30:00Z        0  ...            1            1
3         2019-07-20T04:30:01Z        0  ...            1            1
4  2019-07-20T04:30:02.004013Z        0  ...            1            1

[5 rows x 78 columns]

On met les bons noms de colones

In [149]:
df.columns = df.loc[0]

In [150]:
df.head()

0                       GMT +0  FIT 101  ...  P602 Status  P603 Status
0                       GMT +0  FIT 101  ...  P602 Status  P603 Status
1                    timestamp    value  ...        value        value
2         2019-07-20T04:30:00Z        0  ...            1            1
3         2019-07-20T04:30:01Z        0  ...            1            1
4  2019-07-20T04:30:02.004013Z        0  ...            1            1

[5 rows x 78 columns]

On supprime les lignes inutiles

In [151]:
df = df.drop([0,1], axis=0)

In [152]:
df.head()

0                       GMT +0 FIT 101  ... P602 Status P603 Status
2         2019-07-20T04:30:00Z       0  ...           1           1
3         2019-07-20T04:30:01Z       0  ...           1           1
4  2019-07-20T04:30:02.004013Z       0  ...           1           1
5  2019-07-20T04:30:03.004013Z       0  ...           1           1
6         2019-07-20T04:30:04Z       0  ...           1           1

[5 rows x 78 columns]

Mise a jour des index

In [153]:
df.reset_index(inplace=True, drop=True)

In [154]:
df.head()

0                       GMT +0 FIT 101  ... P602 Status P603 Status
0         2019-07-20T04:30:00Z       0  ...           1           1
1         2019-07-20T04:30:01Z       0  ...           1           1
2  2019-07-20T04:30:02.004013Z       0  ...           1           1
3  2019-07-20T04:30:03.004013Z       0  ...           1           1
4         2019-07-20T04:30:04Z       0  ...           1           1

[5 rows x 78 columns]

On modifie le nom de la colone temps

In [155]:
df = df.rename(columns={"GMT +0":"timestamp"})

On modifie cette colone en ne gardant que l'heure, les minutes et les secondes et on stocke sous format timedelta

!! A voir si il faut pas garder aussi les millisecondes et les micro secondes !!

In [156]:
import re
from datetime import timedelta

In [157]:
date_pattern = '[0-9]{2}:[0-9]{2}:[0-9]*'
i=0
for date in df['timestamp']:
    hour = re.findall(date_pattern, date)
    h = str(hour)[2:10]
    n = h.split(':')
    df['timestamp'][i] = timedelta(hours=int(n[0]), minutes=int(n[1]), seconds=int(n[2]))
    i+=1

In [158]:
df.head()

0 timestamp FIT 101   LIT 101  ... P601 Status P602 Status P603 Status
0   4:30:00       0  729.8658  ...           1           1           1
1   4:30:01       0   729.434  ...           1           1           1
2   4:30:02       0    729.12  ...           1           1           1
3   4:30:03       0  728.6882  ...           1           1           1
4   4:30:04       0  727.7069  ...           1           1           1

[5 rows x 78 columns]

On creer les colones qui serviront pour labeliser les attaques
Pour l'instant que des 0

In [159]:
df['FIT401_attack'] = pd.Series(np.zeros(len(df)).astype(int))
df['LIT301_attack'] = pd.Series(np.zeros(len(df)).astype(int))
df['P601_attack'] = pd.Series(np.zeros(len(df)).astype(int))
df['MultiPoint_attack'] = pd.Series(np.zeros(len(df)).astype(int))
df['MV501_attack'] = pd.Series(np.zeros(len(df)).astype(int))
df['P301_attack'] = pd.Series(np.zeros(len(df)).astype(int))

In [160]:
df.head()

0 timestamp FIT 101   LIT 101  ... MultiPoint_attack MV501_attack P301_attack
0   4:30:00       0  729.8658  ...                 0            0           0
1   4:30:01       0   729.434  ...                 0            0           0
2   4:30:02       0    729.12  ...                 0            0           0
3   4:30:03       0  728.6882  ...                 0            0           0
4   4:30:04       0  727.7069  ...                 0            0           0

[5 rows x 84 columns]

### - Labelisation des données representant les 6 attaques

On déclare les debuts et fins des differentes attaques
A noter que les heures indiqué dans le pdf expliquant le déroulement des attaques sont à GMT +8 de celles du csv

In [161]:
deb_FIT401 = timedelta(hours=7, minutes=8, seconds=46)
fin_FIT401 = timedelta(hours=7, minutes=10, seconds=31)

deb_LIT301 = timedelta(hours=7, minutes=15, seconds=0)
fin_LIT301 = timedelta(hours=7, minutes=19, seconds=32)

deb_P601 = timedelta(hours=7, minutes=26, seconds=57)
fin_P601 = timedelta(hours=7, minutes=30, seconds=48)

deb_MultiPoint = timedelta(hours=7, minutes=38, seconds=50)
fin_MultiPoint = timedelta(hours=7, minutes=46, seconds=20)

deb_MV501 = timedelta(hours=7, minutes=54, seconds=0)
fin_MV501 = timedelta(hours=7, minutes=56, seconds=0)

deb_P301 = timedelta(hours=8, minutes=2, seconds=56)
fin_P301 = timedelta(hours=8, minutes=16, seconds=18)

Parcourt du dataframe pour labeliser les données selon les attaques

In [162]:
i = 0
for date in df['timestamp']:
    if(date > deb_FIT401 and date < fin_FIT401):
        df['FIT401_attack'][i] = 1
    if(date > deb_LIT301 and date < fin_LIT301):
        df['LIT301_attack'][i] = 1
    if(date > deb_P601 and date < fin_P601):
        df['P601_attack'][i] = 1
    if(date > deb_MultiPoint and date < fin_MultiPoint):
        df['MultiPoint_attack'][i] = 1
    if(date > deb_MV501 and date < fin_MV501):
        df['MV501_attack'][i] = 1
    if(date > deb_P301 and date < fin_P301):
        df['P301_attack'][i] = 1

    i += 1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [163]:
print("Nombre de données avec attaque sur FIT401 : " + str(len(df.loc[df['FIT401_attack'] == 1])))
print("Nombre de données avec attaque sur LIT301 : " + str(len(df.loc[df['LIT301_attack'] == 1])))
print("Nombre de données avec attaque sur P601 : " + str(len(df.loc[df['P601_attack'] == 1])))
print("Nombre de données avec attaque multi point : " + str(len(df.loc[df['MultiPoint_attack'] == 1])))
print("Nombre de données avec attaque sur MV501 : " + str(len(df.loc[df['MV501_attack'] == 1])))
print("Nombre de données avec attaque sur P301 : " + str(len(df.loc[df['P301_attack'] == 1])))

Nombre de données avec attaque sur FIT401 : 104
Nombre de données avec attaque sur LIT301 : 271
Nombre de données avec attaque sur P601 : 230
Nombre de données avec attaque multi point : 449
Nombre de données avec attaque sur MV501 : 119
Nombre de données avec attaque sur P301 : 801

# A faire :

## - Etudier les données comme dans tp1 et tp2 (min, max, ...)
## - Appliquer un premier algo d'analyse

## Data Observation

In [164]:
#Nombr de colonnes
nbCols = len(df.columns)
print("Nombre de colonnes dans le dataset: " + str(nbCols))

Nombre de colonnes dans le dataset: 84

In [165]:
#Noms des colonnes et leurs types
for i in df.columns:
  print(i + ", type: " + str(df.dtypes[i]))

timestamp, type: object
FIT 101, type: object
LIT 101, type: object
MV 101, type: object
P1_STATE, type: object
P101 Status, type: object
P102 Status, type: object
AIT 201, type: object
AIT 202, type: object
AIT 203, type: object
FIT 201, type: object
LS 201, type: object
LS 202, type: object
LSL 203, type: object
LSLL 203, type: object
MV201, type: object
P2_STATE, type: object
P201 Status, type: object
P202 Status, type: object
P203 Status, type: object
P204 Status, type: object
P205 Status, type: object
P206 Status, type: object
P207 Status, type: object
P208 Status, type: object
AIT 301, type: object
AIT 302, type: object
AIT 303, type: object
DPIT 301, type: object
FIT 301, type: object
LIT 301, type: object
MV 301, type: object
MV 302, type: object
MV 303, type: object
MV 304, type: object
P3_STATE, type: object
P301 Status, type: object
P302 Status, type: object
AIT 401, type: object
AIT 402, type: object
FIT 401, type: object
LIT 401, type: object
LS 401, type: object
P4_STATE, type: object
P401 Status, type: object
P402 Status, type: object
P403 Status, type: object
P404 Status, type: object
UV401, type: object
AIT 501, type: object
AIT 502, type: object
AIT 503, type: object
AIT 504, type: object
FIT 501, type: object
FIT 502, type: object
FIT 503, type: object
FIT 504, type: object
MV 501, type: object
MV 502, type: object
MV 503, type: object
MV 504, type: object
P5_STATE, type: object
P501 Status, type: object
P502 Status, type: object
PIT 501, type: object
PIT 502, type: object
PIT 503, type: object
FIT 601, type: object
LSH 601, type: object
LSH 602, type: object
LSH 603, type: object
LSL 601, type: object
LSL 602, type: object
LSL 603, type: object
P6 STATE, type: object
P601 Status, type: object
P602 Status, type: object
P603 Status, type: object
FIT401_attack, type: int64
LIT301_attack, type: int64
P601_attack, type: int64
MultiPoint_attack, type: int64
MV501_attack, type: int64
P301_attack, type: int64

In [166]:
#Taille du dataset
print("La taille du dataset est: " + str(df.size))

La taille du dataset est: 1259664

In [167]:
#Quelles sont les attributs catégoriques?
#Dans le jeu de données original, toutes les colonnes avaient le type 'object'
#Mais en examinant les differentes valeurs possibls dans chacune des colonnes
#il nous semble que certaines colonnes sont bien catégoriques mais qu'il en 
#existe qui son catégoriques

#Liste de colonnes qui nous semblent être catégoriques
cat_list = ['MV 101','P1_STATE','P101 Status','P102 Status','LS 201','LS 202',\
            'LSL 203','LSLL 203','MV201','P2_STATE','P201 Status','P202 Status',\
            'P203 Status','P204 Status','P205 Status','P206 Status','P207 Status',\
            'P208 Status','MV 301','MV 302','MV 303','MV 304','P3_STATE',\
            'P301 Status','P302 Status','LS 401','P4_STATE','P401 Status',\
            'P402 Status','P403 Status','P404 Status','UV401','MV 501','MV 502',\
            'MV 503','MV 504','P5_STATE','P501 Status','P502 Status','LSH 601',\
            'LSH 602','LSH 603','LSL 601','LSL 602','LSL 603','P6 STATE',\
            'P601 Status','P602 Status','P603 Status','FIT401_attack',\
            'LIT301_attack','P601_attack','MultiPoint_attack','MV501_attack',\
            'P301_attack']

#Liste de colonnes numériques
num_list = list(set(list(df.columns)) - set(cat_list))

#On enleve de la liste de colonnes numériques la colonne décrivant le temps
num_list.remove('timestamp')

In [168]:
#Pour chaque colonne catégorique on affiche les valeurs possibles
for i in cat_list:
  print("Valeurs possibles de "+ str(i) + ": " + str(df[i].unique()))

Valeurs possibles de MV 101: ['1' '0' '2' 2 0 1]
Valeurs possibles de P1_STATE: ['3' '2' 2]
Valeurs possibles de P101 Status: ['2' '1' 2 1]
Valeurs possibles de P102 Status: ['1' 1]
Valeurs possibles de LS 201: ['Inactive']
Valeurs possibles de LS 202: ['Inactive']
Valeurs possibles de LSL 203: ['Inactive']
Valeurs possibles de LSLL 203: ['Inactive']
Valeurs possibles de MV201: ['2' '0' '1' 2 0 1]
Valeurs possibles de P2_STATE: ['2' 2]
Valeurs possibles de P201 Status: ['1' 1]
Valeurs possibles de P202 Status: ['1' 1]
Valeurs possibles de P203 Status: ['2' '1' 2 1]
Valeurs possibles de P204 Status: ['1' 1]
Valeurs possibles de P205 Status: ['2' '1' 2 1]
Valeurs possibles de P206 Status: ['1' 1]
Valeurs possibles de P207 Status: ['1' 1]
Valeurs possibles de P208 Status: ['1' 1]
Valeurs possibles de MV 301: ['1' 1 0 2]
Valeurs possibles de MV 302: ['1' '0' '2' 1 0 2]
Valeurs possibles de MV 303: ['1' 1 0 2]
Valeurs possibles de MV 304: ['1' '0' '2' 1 0 2]
Valeurs possibles de P3_STATE: ['99' '2' '4' '5' '6' '7' 99 2 4 5 6 7 9 10 14 15 16]
Valeurs possibles de P301 Status: ['1' '2' 1 2]
Valeurs possibles de P302 Status: ['1' 1]
Valeurs possibles de LS 401: ['Inactive']
Valeurs possibles de P4_STATE: ['4' 4]
Valeurs possibles de P401 Status: ['2' 2 1]
Valeurs possibles de P402 Status: ['1' 1]
Valeurs possibles de P403 Status: ['1' 1]
Valeurs possibles de P404 Status: ['1' 1]
Valeurs possibles de UV401: ['2' 2 1]
Valeurs possibles de MV 501: ['2' 2 0 1]
Valeurs possibles de MV 502: ['2' 2]
Valeurs possibles de MV 503: ['1' 1]
Valeurs possibles de MV 504: ['1' 1]
Valeurs possibles de P5_STATE: ['12' 12]
Valeurs possibles de P501 Status: ['2' 2]
Valeurs possibles de P502 Status: ['1' 1]
Valeurs possibles de LSH 601: ['Active' 'Inactive']
Valeurs possibles de LSH 602: ['Active']
Valeurs possibles de LSH 603: ['Inactive']
Valeurs possibles de LSL 601: ['Inactive']
Valeurs possibles de LSL 602: ['Inactive']
Valeurs possibles de LSL 603: ['Active']
Valeurs possibles de P6 STATE: ['2' 2]
Valeurs possibles de P601 Status: ['1' 1 2]
Valeurs possibles de P602 Status: ['1' 1]
Valeurs possibles de P603 Status: ['1' 1]
Valeurs possibles de FIT401_attack: [0 1]
Valeurs possibles de LIT301_attack: [0 1]
Valeurs possibles de P601_attack: [0 1]
Valeurs possibles de MultiPoint_attack: [0 1]
Valeurs possibles de MV501_attack: [0 1]
Valeurs possibles de P301_attack: [0 1]

In [169]:
#Ensuite pour les colonnes numériques nous aimerions afficher pour chaque 
#colonne, le minmum, le maximum, la moyenne, la mediane et l'ecart-type.
#Pour faire cela, nous devons d'abord changer le type de la colonne en float

for i in num_list:
  df[i] = df[i].astype(float)

for i in num_list:
  print(df[i].describe())

count    14996.000000
mean       886.224353
std         63.100612
min        756.921300
25%        832.132800
50%        881.274048
75%        940.230069
max       1003.550350
Name: LIT 401, dtype: float64
count    14996.000000
mean       142.095907
std          3.166724
min        134.131500
25%        142.710800
50%        143.383057
75%        143.863235
max        153.787048
Name: AIT 303, dtype: float64
count    14996.000000
mean       160.706744
std          5.707502
min        158.132523
25%        159.526400
50%        160.231354
75%        160.695969
max        219.014359
Name: PIT 501, dtype: float64
count    14996.000000
mean         7.710572
std          0.059549
min          7.483530
25%          7.696296
50%          7.733146
75%          7.749808
max          7.768393
Name: AIT 501, dtype: float64
count    14996.000000
mean         0.000402
std          0.003317
min          0.000000
25%          0.000256
50%          0.000320
75%          0.000320
max          0.137315
Name: FIT 601, dtype: float64
count    14996.000000
mean         0.798153
std          0.033274
min          0.457703
25%          0.799539
50%          0.801589
75%          0.802871
max          0.827736
Name: FIT 501, dtype: float64
count    14996.000000
mean         0.211526
std          0.006174
min          0.198059
25%          0.209909
50%          0.211126
75%          0.211895
max          0.275694
Name: FIT 504, dtype: float64
count    14996.000000
mean      1016.263990
std          0.028943
min       1016.053590
25%       1016.277890
50%       1016.277890
75%       1016.277890
max       1016.438110
Name: AIT 503, dtype: float64
count    14996.000000
mean       733.960251
std        110.960185
min        491.169769
25%        640.595184
50%        819.636841
75%        820.971436
max        825.092957
Name: LIT 101, dtype: float64
count    14996.000000
mean       247.985162
std         11.806186
min        198.077423
25%        239.887200
50%        246.218918
75%        257.190460
max        272.289154
Name: AIT 203, dtype: float64
count    14996.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: AIT 401, dtype: float64
count    14996.000000
mean       138.766501
std          8.265845
min        113.849014
25%        131.536789
50%        143.713150
75%        144.033585
max        146.821335
Name: AIT 201, dtype: float64
count    14996.000000
mean         0.869760
std          1.121283
min          0.000000
25%          0.000384
50%          0.000513
75%          2.320187
max          2.342357
Name: FIT 201, dtype: float64
count    14996.000000
mean       283.695239
std          8.547831
min        256.431274
25%        277.303284
50%        281.656952
75%        292.285034
max        299.020416
Name: AIT 302, dtype: float64
count    14996.000000
mean        25.231166
std          1.862370
min         23.647783
25%         24.609074
50%         24.839785
75%         25.032044
max         47.103306
Name: AIT 504, dtype: float64
count    14996.000000
mean         0.611743
std          0.015349
min          0.583043
25%          0.608264
50%          0.610441
75%          0.611465
max          0.769324
Name: FIT 503, dtype: float64
count    14996.000000
mean         4.673115
std         18.183883
min          2.450902
25%          2.851376
50%          2.883414
75%          2.963509
max        192.371765
Name: PIT 502, dtype: float64
count    14996.000000
mean        69.268478
std          8.878605
min         61.394516
25%         65.957440
50%         68.982315
75%         69.982056
max        147.398100
Name: AIT 502, dtype: float64
count    14996.000000
mean         0.794251
std          0.040510
min          0.462386
25%          0.797746
50%          0.799411
75%          0.801972
max          0.818490
Name: FIT 401, dtype: float64
count    14996.000000
mean         0.824523
std          0.856954
min          0.000000
25%          0.000512
50%          0.000641
75%          1.718220
max          1.856452
Name: FIT 301, dtype: float64
count    14996.000000
mean       115.157048
std          5.324942
min        111.654060
25%        114.233528
50%        114.714172
75%        115.002563
max        170.565247
Name: PIT 503, dtype: float64
count    14996.000000
mean         8.718149
std          0.102093
min          8.339394
25%          8.665143
50%          8.745566
75%          8.790512
max          8.895800
Name: AIT 301, dtype: float64
count    14996.000000
mean         0.740876
std          1.634632
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          4.403484
Name: FIT 101, dtype: float64
count    14996.000000
mean       946.637019
std         92.168566
min        730.702100
25%        858.103317
50%        981.158700
75%       1009.156310
max       1112.775630
Name: LIT 301, dtype: float64
count    14996.000000
mean         6.510505
std          5.556797
min          0.918753
25%          1.206863
50%          1.498175
75%         12.520008
max         12.913759
Name: DPIT 301, dtype: float64
count    14996.000000
mean         9.210022
std          0.175812
min          8.768457
25%          9.090170
50%          9.233082
75%          9.345873
max          9.490067
Name: AIT 202, dtype: float64
count    14996.000000
mean        14.032767
std         14.145882
min          3.332479
25%          5.075622
50%          9.741092
75%         15.790823
max         87.951805
Name: AIT 402, dtype: float64
count    14996.000000
mean         0.340819
std          0.041552
min          0.001793
25%          0.327270
50%          0.346868
75%          0.365441
max          0.515307
Name: FIT 502, dtype: float64

In [170]:
#On vérifie s'il y a des NaN dans les colonnes pour eventuellement les éliminer.
#Mais comme nous pouvons voir, il n'y en a pas
cols = list(df.columns)
for i in cols:
  nan_number = df[i].isna().sum()
  print(" ")
  print("Taux de NaN dans la colonne: "+i)
  print(str((nan_number/df.shape[0])*100)+'%')

Taux de NaN dans la colonne: timestamp
0.0%

Taux de NaN dans la colonne: FIT 101
0.0%

Taux de NaN dans la colonne: LIT 101
0.0%

Taux de NaN dans la colonne: MV 101
0.0%

Taux de NaN dans la colonne: P1_STATE
0.0%

Taux de NaN dans la colonne: P101 Status
0.0%

Taux de NaN dans la colonne: P102 Status
0.0%

Taux de NaN dans la colonne: AIT 201
0.0%

Taux de NaN dans la colonne: AIT 202
0.0%

Taux de NaN dans la colonne: AIT 203
0.0%

Taux de NaN dans la colonne: FIT 201
0.0%

Taux de NaN dans la colonne: LS 201
0.0%

Taux de NaN dans la colonne: LS 202
0.0%

Taux de NaN dans la colonne: LSL 203
0.0%

Taux de NaN dans la colonne: LSLL 203
0.0%

Taux de NaN dans la colonne: MV201
0.0%

Taux de NaN dans la colonne: P2_STATE
0.0%

Taux de NaN dans la colonne: P201 Status
0.0%

Taux de NaN dans la colonne: P202 Status
0.0%

Taux de NaN dans la colonne: P203 Status
0.0%

Taux de NaN dans la colonne: P204 Status
0.0%

Taux de NaN dans la colonne: P205 Status
0.0%

Taux de NaN dans la colonne: P206 Status
0.0%

Taux de NaN dans la colonne: P207 Status
0.0%

Taux de NaN dans la colonne: P208 Status
0.0%

Taux de NaN dans la colonne: AIT 301
0.0%

Taux de NaN dans la colonne: AIT 302
0.0%

Taux de NaN dans la colonne: AIT 303
0.0%

Taux de NaN dans la colonne: DPIT 301
0.0%

Taux de NaN dans la colonne: FIT 301
0.0%

Taux de NaN dans la colonne: LIT 301
0.0%

Taux de NaN dans la colonne: MV 301
0.0%

Taux de NaN dans la colonne: MV 302
0.0%

Taux de NaN dans la colonne: MV 303
0.0%

Taux de NaN dans la colonne: MV 304
0.0%

Taux de NaN dans la colonne: P3_STATE
0.0%

Taux de NaN dans la colonne: P301 Status
0.0%

Taux de NaN dans la colonne: P302 Status
0.0%

Taux de NaN dans la colonne: AIT 401
0.0%

Taux de NaN dans la colonne: AIT 402
0.0%

Taux de NaN dans la colonne: FIT 401
0.0%

Taux de NaN dans la colonne: LIT 401
0.0%

Taux de NaN dans la colonne: LS 401
0.0%

Taux de NaN dans la colonne: P4_STATE
0.0%

Taux de NaN dans la colonne: P401 Status
0.0%

Taux de NaN dans la colonne: P402 Status
0.0%

Taux de NaN dans la colonne: P403 Status
0.0%

Taux de NaN dans la colonne: P404 Status
0.0%

Taux de NaN dans la colonne: UV401
0.0%

Taux de NaN dans la colonne: AIT 501
0.0%

Taux de NaN dans la colonne: AIT 502
0.0%

Taux de NaN dans la colonne: AIT 503
0.0%

Taux de NaN dans la colonne: AIT 504
0.0%

Taux de NaN dans la colonne: FIT 501
0.0%

Taux de NaN dans la colonne: FIT 502
0.0%

Taux de NaN dans la colonne: FIT 503
0.0%

Taux de NaN dans la colonne: FIT 504
0.0%

Taux de NaN dans la colonne: MV 501
0.0%

Taux de NaN dans la colonne: MV 502
0.0%

Taux de NaN dans la colonne: MV 503
0.0%

Taux de NaN dans la colonne: MV 504
0.0%

Taux de NaN dans la colonne: P5_STATE
0.0%

Taux de NaN dans la colonne: P501 Status
0.0%

Taux de NaN dans la colonne: P502 Status
0.0%

Taux de NaN dans la colonne: PIT 501
0.0%

Taux de NaN dans la colonne: PIT 502
0.0%

Taux de NaN dans la colonne: PIT 503
0.0%

Taux de NaN dans la colonne: FIT 601
0.0%

Taux de NaN dans la colonne: LSH 601
0.0%

Taux de NaN dans la colonne: LSH 602
0.0%

Taux de NaN dans la colonne: LSH 603
0.0%

Taux de NaN dans la colonne: LSL 601
0.0%

Taux de NaN dans la colonne: LSL 602
0.0%

Taux de NaN dans la colonne: LSL 603
0.0%

Taux de NaN dans la colonne: P6 STATE
0.0%

Taux de NaN dans la colonne: P601 Status
0.0%

Taux de NaN dans la colonne: P602 Status
0.0%

Taux de NaN dans la colonne: P603 Status
0.0%

Taux de NaN dans la colonne: FIT401_attack
0.0%

Taux de NaN dans la colonne: LIT301_attack
0.0%

Taux de NaN dans la colonne: P601_attack
0.0%

Taux de NaN dans la colonne: MultiPoint_attack
0.0%

Taux de NaN dans la colonne: MV501_attack
0.0%

Taux de NaN dans la colonne: P301_attack
0.0%